body{
  background:#0b1c2d;
  font-family: Arial;
  color:white;
  text-align:center;
}

.container{
  margin-top:30px;
}

.top{
  display:flex;
  justify-content:space-around;
  margin-bottom:20px;
  font-weight:bold;
}

.options button{
  display:block;
  margin:10px auto;
  padding:12px;
  width:260px;
  font-size:16px;
  cursor:pointer;
}

#nextBtn, #restartBtn{
  margin-top:15px;
  padding:10px 20px;
  display:none;
}
